# Shared
NODE_ENV=development

# API
PORT=4000
API_BASE_URL=http://localhost:4000
CLIENT_URL=http://localhost:3000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/tuition_manager?schema=public
JWT_ACCESS_SECRET=change_me_access_secret
JWT_REFRESH_SECRET=change_me_refresh_secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d
BCRYPT_SALT_ROUNDS=12

# Web
NEXT_PUBLIC_API_URL=http://localhost:4000/api
